.board {
    display: grid;
    grid-template-columns: repeat(8, 72px);
    grid-template-rows: repeat(8, 72px);
    border: 2px solid #2b2b2b;
    width: fit-content;
}

.square {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.light {
    background: #f0d9b5;
}

.dark {
    background: #3d2009;
}

.piece {
    width: 62px;
    height: 62px;
    pointer-events: none;
}